.results-header-row {
    align-items: center;
}

.results-header-row .ant-col {
    display: flex;
}

.results-header-row .ant-col h2 {
    margin: 0;
}

.results-header-row .ant-col:last-child {
    justify-content: flex-end;
}

.ant-empty-description > :first-child {
    color: white;
}
