.site-layout-content {
    padding: 24px;
}

.site-layout-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.site-layout-header h1 {
    margin: 0;
}

.site-layout-header a {
    font-size: 24px;
}
