# NPM

node_modules/
/aws/deploy_node_modules/
.npm-cache

# AWS Stack Output

.aws-sam/

# Crawlee Output

storage/

# TSC Output

dist/

# Playwright

test-results/
playwright-report/
**/playwright/.cache/
