# NPM

node_modules/
/aws/deploy_node_modules/
.npm-cache/

# AWS Stack Output

.aws-sam/
local-lambda-output.txt

# Apify Output

apify_storage/

# Output

dist/

# Testing

/coverage

# React

/.pnp
.pnp.js
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
npm-debug.log*

# Environment Variables

.env

# Built Diagrams

out/
